body {
    background-color: burlywood;
    font-size: 20px;
    padding: 10px 100px 0px;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}

.cen {
    text-align: center;
    font-size: 25px;
}

hr {
    background-color: sienna;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    border: black solid 1px;
}

.head {
    border-bottom: 5px black solid;
    text-align: center;
}

.body {
    border: 5px black solid;
    padding: 15px;
    width: 55%;
}

span {
    font-style: italic;
    font-weight: bold;
}

aside {
    float: right;
    width: 38%;
    height: 1352px;
    border: 5px black solid;
}

.aside1 {
    border: 5px black solid;
    height: 1145px;
}

.ing > img {
    margin-left: 12%;
    width: 400px;
    height: 300px;

}

.paso > img {
    margin-left: 12%;
    width: 400px;
    height: 300px;

}

.final > img {
    margin-left: 12%;
    width: 400px;
    height: 300px;

}

iframe {
    margin-left: 12%;
    width: 400px;
    height: 300px;
}

